@import '~@angular/material/theming';

@mixin yea-dashboard-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $custom-background-color: rgba(0, 0, 0, 0);

  $background: map_merge(
    $background,
    (
      background: $custom-background-color
    )
  );
  $theme: map_merge(
    $theme,
    (
      background: $background
    )
  );

  .dashboard {
    .background {
      color: mat-color($foreground, text);
      background-color: mat-color($background, background);

      .gradient {
        &::before {
          background: linear-gradient(
            to bottom,
            mat-color($background, background, 0) 0%,
            mat-color($background, background, 1) 100%
          );
        }
      }
    }

    .dash-footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;
      position: relative;
      color: mat-color($primary, default-transparent);
      background-color: mat-color($primary);

      .links,
      .signature {
        a {
          // right: 0em;
          color: mat-color($primary, default-transparent);
          // position: relative !important;
          &:hover {
            color: mat-color($accent, default-transparent);
          }
        }
        .year{
          color: mat-color($primary, default-transparent);
          &:hover {
            color: mat-color($accent, default-transparent);
          }
        }
        // right: 0em;
        color: mat-color($primary, default-transparent);
        // position: relative;
      }
    }
  }
}
