<yea-card class="card">
  <yea-card-header class="header" fxLayout="column">
    <yea-card-header-title>Active Members right now</yea-card-header-title>

    <div class="value">{{ currentUsers }}</div>
  </yea-card-header>

  <yea-card-content>
    <div class="section">
      <div class="heading">Page views per minute</div>
      <div class="canvas-content">
        <canvas #canvas></canvas>
      </div>
    </div>
    <!--
    <div class="section">
      <div class="heading">Top Active Pages</div>
      <div class="pages" fxLayout="column">
        <div class="page" *ngFor="let page of pages$ | async">
          {{ page.page }}
        </div>
      </div>
    </div> -->
  </yea-card-content>
</yea-card>
