<div class="yea-login-page-background" >
    <div  layout="column" layout-gt-xs="row" fxLayoutAlign="center center"
       layout-fill class="yea-login-bg-shadow" [ngClass]="routeAnimationsElements">

       <mat-card  class="launch-login-card">
          
          <mat-card-content>    
             <div  fxLayoutAlign="center center" [ngClass]="routeAnimationsElements"
                   style="padding:0px;padding-top:0px;display:flex;" >
                 <img width="250" height="220"  style="margin:auto;margin-top:25px;" 
                       src="assets/img/yt_white_big.png">
             </div>

         <!-- </mat-card-header> -->
         <mat-progress-bar mode="indeterminate"
            style="z-index:9999"  *ngIf="loginProgress$ | async"
            color="primary">
          </mat-progress-bar>  
         <mat-divider></mat-divider>
          <div style="margin-top:15px;">
            <mat-card-title color="primary" class="login-title primary-color" >ENTERPRISE TEMPLATE</mat-card-title>
          </div>
          <form #loginForm="ngForm"  autocomplete="off">
          <div layout="row" [ngClass]="routeAnimationsElements">
          <mat-form-field flex autocomplete="off" class="streach-h-100"> 
            <input id="username" matInput #userElement #userControl="ngModel" 
            (keydown)="keyDownFunction($event)"  [(ngModel)]="username"   autocomplete="off"
                style="color:#0277BD !important;"
            placeholder="Username" type="text" maxlength="30"
              name="username"  required>
            <span matPrefix><mat-icon [class.show-green]="username" [class.show-silver]="!username">person</mat-icon></span>
            <span matSuffix ><mat-icon [class.show-green]="username" [class.show-silver]="!username"    >edit</mat-icon></span>
            <mat-hint align="end">
              <span [hidden]="!userControl.errors?.required || userControl.pristine" class="show-orangered">Required</span>
            </mat-hint>
            <!-- <mat-hint align="end">{{userElement.value.length}} / 30</mat-hint> -->
          </mat-form-field>
          </div>
          <div layout="row" [ngClass]="routeAnimationsElements">
          <mat-form-field flex class="streach-h-100"> 
            <input id="password" matInput #passElement #passControl="ngModel" [(ngModel)]="password"
              style="color:#0277BD !important;"  (keydown)="keyDownFunction($event)"
             placeholder="Password" type="password" name="password"  required>
            <span matPrefix><mat-icon [class.show-green]="password" [class.show-silver]="!password">lock</mat-icon></span>
            <span matSuffix><mat-icon [class.show-green]="password" [class.show-silver]="!password">edit</mat-icon></span>
            <mat-hint align="end">
              <span [hidden]="!passControl.errors?.required || passControl.pristine" class="show-orangered">Required</span>
            </mat-hint>
          </mat-form-field>
          </div>
          </form>

          </mat-card-content>

          <mat-card-footer>
          <mat-card-actions layout="row"  [ngClass]="routeAnimationsElements">
          <button  id = "loginbtn" fxFlex mat-raised-button  
                   class="signin-button-disabled"
                  [class.signin-button-enabled]="loginForm.form.valid && !(loginProgress$ | async)"
                  [class.signin-button-disabled]="!loginForm.form.valid || (loginProgress$ | async)"
                  [disabled]="!loginForm.form.valid || (loginProgress$ | async)" (click)="doSignIn()" >  
             <span class="login-label"> Sign In </span>
            </button>
          </mat-card-actions>

          </mat-card-footer>
       </mat-card>
    <!-- <div class="card border-radius elevation">
      <div class="header padding" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/img/icon.png">
      </div>
      <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form">
        <div fxFlex="auto" fxLayout="column">
          <mat-form-field fxFlex="grow">
            <mat-label>E-Mail</mat-label>
            <input matInput required formControlName="email">
            <mat-error *ngIf="form.get('email').hasError('required')">We need an email address to log you in</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="grow">
            <mat-label>Password</mat-label>
            <input matInput [type]="inputType" formControlName="password" required>
            <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">
              <mat-icon *ngIf="visible">visibility</mat-icon>
              <mat-icon *ngIf="!visible">visibility_off</mat-icon>
            </button>
            <mat-hint>Click the eye to toggle visibility</mat-hint>
            <mat-error *ngIf="form.get('password').hasError('required')">We need a password to log you in</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-checkbox class="caption">Remember Me</mat-checkbox>
          <a class="caption" [routerLink]="['/forgot-password']">Forgot Password?</a>
        </div>
        <button type="button" color="primary" mat-raised-button (click)="send()">
          SIGN IN
        </button>
        <p class="secondary-text text-center">
          Don't have an account?<br/>
          <a [routerLink]="['/register']">Click here to create one</a>
        </p>
      </div>
    </div> -->
    </div>
</div>
